<a href="https://colab.research.google.com/github/ThejaRoop/Jupyter_related/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a test
#walrus operator
x = 0
while (x := x + 1) < 10: # Prints 1, 2, 3, ..., 9
    print(x)

#break
x = 0
while x < 10:
    if x == 5:
        break # Stops the loop. Moves to Done below
    print(x)
    x += 1
    print('Done')

# help(str)

@dataclass

generator functions:
def sub_generator():
    yield 1
    yield 2

def main_generator():
    yield from sub_generator()
    yield 3

gen = main_generator()

for value in gen:
    print(value)

In [ ]:
s= 'Hello World'
# in the above if i need to get the index of "H" and "o"  how to get?
# s.find('o W')
# p=s[0:4]
# s.split(p)[1]
replaced=s.replace('Hello', 'challo')
replaced
s = 'hello world'
print(repr(s))
del rooms["pink"]

d1={"cow":"4legs", "horse":"1 nose"}
# for animal,speciality in d1.items():
#     print(animal,speciality)

d1.items()

python zip function
list1 = [1, 2, 3]
list2 = ['a', 'b']
zipped = zip(list1, list2)
zipped = zip([1, 2, 3], ['a', 'b', 'c'])
list1, list2 = zip(*zipped)


# contextlib
# subprocess
# pillow
# matplotlib (visualizations)
# re, json, csv, itertools, collections, functools, textwrap, zipfile,

'Hello World'

In [ ]:
# coordinates = (10, 20)
# config = (1920, 1080, True)  # screen resolution and fullscreen flag

# # Using a tuple as a key in a dictionary
# location_data = {coordinates: "Player's location"}
# location_data

# def get_user_info():
#     return "Alice", 30, "New York"

# a= get_user_info()
# name, age, city = a

# print(name)


from collections import namedtuple

# Define a namedtuple type called 'Person'
Person = namedtuple('Person', ['name', 'age', 'city'])

# Create an instance of Person
person1 = Person(name="Alice", age=30, city="New York")

person1 = person1._replace(city="San Francisco")
print(person1)

s = 'hello world'
s.replace("ello","re")
#key word arguments
# import math
# help(math)
import sys
print(sys.argv)
REPL (Read-Eval-Print Loop)

Person(name='Alice', age=30, city='San Francisco')

In [ ]:
#higher order function - fns that return another function
# def make_adder(n):
#     def adder(x):
#         return x + n
#     return adder

# add_four = make_adder(4)
# print(add_four(10))  # Outputs 14

14

In [ ]:
def createadder(x):
    def addvalue(y):
        return x+y
    return addvalue

add5 = createadder(5)
print(add5(22))

assert statement where to use?

27

In [ ]:
data = [
    {
        "name": "",
        "age": 35,
        "salary": 100000,
    },
    {
        "name": "Jane Doe",
        "age": 42,
        "salary": 150000,
    },
    {
        "name": "John Doe",
        "age": "23",
        "salary": 100000,
    },
    {
        "name": "Foo Bar",
        "age": "302",
        "salary": "123456",
    },
    {
        "name": "Bar Foo",
        "age": "30",
        "salary": "123",
    },
]
def has_empty_name(person):
    return person['name'] == ''

def has_age_over_100(person):
    return person['age'] > 100

def convert_age_to_number(person):
    person['age'] = float(person['age'])

def convert_salary_to_number(person):
    person['salary'] = float(person['salary'])

def convert_salary_to_yearly(person):
    if person['salary'] < 1000:
        # 2000 work hours in the year, roughly
        person['salary'] = 2000 * person['salary']

def clean_data(data, cleaners, filters):
    # first make sure the data is cleaned
    for item in data:
        for cleaner_func in cleaners:
            cleaner_func(item)
    # then keep only the good data
    out = []
    for item in data:
        should_append = True
        for filter in filters:
            # don't add this item if the filter returns False
            if not filter(item):
                should_append = False

        if should_append:
            out.append(item)
    return out

clean_data(data,
    cleaners=[convert_age_to_number, convert_salary_to_number, convert_salary_to_yearly],
    filters=[has_empty_name, has_age_over_100])

[]

In [ ]:
binary_rep = bin(4)[2:]
consecutive_ones = binary_rep.split('0')

    # Find the maximum length of consecutive '1's
max_ones = max(len(group) for group in consecutive_ones)


from collections import deque

# Initialize deque
d = deque([1, 2, 3])
print("Initial deque:", d)  # Output: deque([1, 2, 3])

# Append items
d.append(4)
d.appendleft(0)
print("After append and appendleft:", d)  # Output: deque([0, 1, 2, 3, 4])

# Pop items
print("Popped from right:", d.pop())      # Output: 4
print("Popped from left:", d.popleft())   # Output: 0
print("After pop and popleft:", d)         # Output: deque([1, 2, 3])

# Extend deque
d.extend([4, 5, 6])
d.extendleft([-1, -2])
print("After extend and extendleft:", d)  # Output: deque([-2, -1, 1, 2, 3, 4, 5, 6])

# Remove item
d.remove(-2)
print("After removing -2:", d)            # Output: deque([-1, 1, 2, 3, 4, 5, 6])

# Clear deque
d.clear()
print("After clearing:", d)                # Output: deque([])

# Max length
d = deque([1, 2, 3], maxlen=5)
print("Max length:", d.maxlen)             # Output: 5


s='e'
try:
    value=int(s)
    print(value)
except ValueError:
    print("Bad String")

a ={'a', 'r', 'b', 'c', 'd'}
a | b
a & b
a ^ b

#check palindrome

# 0 n-1
# 1 n-2
s = 'racecar'
v="not palindrome"
def checkpli(s):
    c= list(s)
    # for x in range(0,len(c)):
    x=0
    while x < len(c)//2:
        if c[x] !=c[len(c)-x-1]:
            return v
        x+=1
    print("palindrome")


checkpli(s)

# Global Variables: Accessible from anywhere in the code.
# Local Variables: Defined and accessible only within a function.
# Nonlocal Variables: Allows modification of variables in the enclosing (outer) function from within a nested (inner) function.

arr=[1,2]
c= (lambda x: x+2)
result = list(map(c,arr))
result

help(math) vs help(str)

@classmethod
@staticmethod
@property
@_.setter
@_.deleter

from collections import defaultdict
unique_counts1 = defaultdict(int)
help(unique_counts1)

import functools

def log_function_call(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        print(f"Calling {func.__name__} with arguments {args} and keyword arguments {kwargs}")
        result = func(*args, **kwargs)
        print(f"{func.__name__} returned {result}")
        return result
    return wrapper

@log_function_call
def add(a, b):
    return a + b
add(3, 5)


#class decorators
def simple_decorator(cls):
    # This is the decorator function that modifies the class behavior.
    class WrappedClass:
        def __init__(self, *args, **kwargs):
            print("Class is being instantiated.")
            self.instance = cls(*args, **kwargs)  # Create an instance of the original class

        def say_hello(self):
            print("Hello from the decorator!")

    return WrappedClass

@simple_decorator
class MyClass:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print(f"Hello, {self.name}!")

# Example usage
obj = MyClass("Alice")
obj.say_hello()  # Calls the decorator-added method

queue = [1]
queue.append((2, 3))
# queue.sort(key=lambda x: x[1], reverse=True)
queue


from collections import deque
d = deque([1, 2, 3])
reversed_deque = deque(reversed(d))
print(reversed_deque)

s1='abcfffa'
s2='cab'

c= s1[2:]+s1[:2]
c

In [ ]:
l1 = ["Hello", " ", "World", "!"]

# e=lambda x: x*24
# result=map(e,l1)
# print(list(result))

# e=lambda x:x>2
# list(filter(e,l1))

from functools import reduce
e=lambda x,y: x+y
print(reduce(e,l1))

Hello World!

In [ ]:
l1=[1,2,4]
    # :x+1 for x in l1
l1 = [1, 2, 4]
e = lambda x: x *3

e

In [ ]:
s=[1,2]
len(s)

2

In [ ]:
min
max
l2=l1
l2.sort()
l2

f"{min} {max}"
print

In [ ]:
s='harry 12299933'
s.strip()

'harry 12299933'

In [ ]:
l1

[33, 1, 3]

In [ ]:
ee=44
txt = f"The price is {ee} dollars"
print(txt)

The price is 44 dollars

In [ ]:
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

In [ ]:
import re

pattern = r'\b[Hh][eE]\b'
txt = "he rain in Spain The rain in Spain"
# x = re.search("^The.*Spain$", txt)
x = re.findall(pattern, txt)
print(x)

['he']

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\tnagisetty\AppData\Local\Temp\ipykernel_19308\3440849899.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.search("\s", txt)

In [ ]:
l1=[1,23,3]
len(l1)

3

In [ ]:
s="sl222rc"
s1=""
s=s.strip("rc")
s
print(s)

sl222

In [ ]:
SELECT *
  FROM tutorial.billboard_top_100_year_end
 WHERE group_name ilike '%ludacris%'

In [ ]:
A= [1,2,3,4]
A1= [1,2,3,5,6]
#common in two lists
dir(set)
list(set(A).intersection(set(A1)))

[1, 2, 3]

In [ ]:
A= [1,3,33,333,333,33,3,2,2,3,4]

def occr(A):
#get occrance of each as a dict
    l={}
    for x in range(0,len(A)):
        if A[x] in l:
            l[A[x]]+=1
        else:
            l[A[x]]=1
#get duplicates of each as a dict
    loccr={}
    for x in l:
        if l[x]>1:
            loccr[x]=l[x]

    string1=''
    for x in loccr:
        string1 += f"{x} occurred {loccr[x]} times.\n"
    return string1


occr(A)

'3 occurred 3 times.\n33 occurred 2 times.\n333 occurred 2 times.\n2 occurred 2 times.\n'

In [ ]:
l=[1,2,3,4,5]

#x elements left
clocked=[]
toshiftn=2
for ele in l:
    aftershiftelement=l.index(ele)-(toshiftn)
    clocked.append(l[aftershiftelement])
clocked

[4, 5, 1, 2, 3]

In [ ]:
q={1: 1, 3: 3, 2: 2, 4: 1}
for x in q:
    print(x)

1
3
2
4

In [ ]:
#find the largest digits

# find the largest
# find the second larget
# if first and second largest are not neighbours, ignore first largest and second largest as the largest.

y= [1,4,2, 3,55]
y1=y
y1.sort()
largest=(y1[len(y1)-1])
second_larget=(y1[len(y1)-2])
if (y.index(largest) == (y.index(second_larget))+1):
    return

55

[1, 2, 3, 4, 55]

In [ ]:
y= [1,4,2, 3,55]

n1=[]
n2=[]
for a in y:
    if a% 2 == 0:
        n1.insert(a)
    else:
        n2.insert(a)

print(n1,n2)

TypeError: insert expected 2 arguments, got 1

In [ ]:
def adjective_to_verb(sentence, index):
    """Change the adjective within the sentence to a verb.

    :param sentence: str - that uses the word in sentence.
    :param index: int - index of the word to remove and transform.
    :return: str - word that changes the extracted adjective to a verb.

    For example, ("It got dark as the sun set.", 2) becomes "darken".
    """
    splitted=sentence.split(" ")
    verbed = splitted[index]+"en"
    return verbed

sentence='Look at the bright sky.'
index
adjective_to_verb(sentence, index):

In [ ]:

b=[1,2,4,9,11]
b1=[1,4,11]

n=len(b)

oddpositions=[]
evenpositions=[]

for x in range(n):
    if x % 2 == 0:
        evenpositions.append(x)
    else:
        oddpositions.append(x)

if i need to get elements from b=[1,2,4,9,11]  - only elements in the index [2,4,6]
indexes =[2,4,6]
cardsatevenspositons=[]
cardsatoddpositons=[]
while x in evenpositions:
    for element in b:
        if b.index(element) == x:
           cardsatevenspositons.append(element)
        else:
            cardsatoddpositons.append(element)

KeyboardInterrupt:

In [ ]:
b = [1, 2, 4, 9, 11]
indices = [2, 4, 6]

# # Using list comprehension
# result = [b[i] for i in indices if i < len(b)]

result=[]
for i in indices:
    if i<len(b):
        result.append(b[i])


print(result)  # Output: [4, 11]

[4, 11]

In [ ]:
hand=[1, 2, 4, 9, 11]
even_indices = hand[::2]
odd_indices = hand[1::2]
print(even_indices,odd_indices)

[1, 4, 11] [2, 9]

In [ ]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [ ]:
cur = con.cursor()
cur.execute("CREATE TABLE movie(title, year, score)")
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [ ]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

con.commit()

In [ ]:
res = cur.execute("SELECT score FROM movie")
res.fetchall()

[(8.2,), (7.5,), (8.2,), (7.5,)]

In [ ]:
e="ss"
e**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
def __init__(self, name, age):
self.name = name
self.age = age
def __str__(self):
return f"{self.name}({self.age})"
p1 = Person("John", 36)
print(p1)

IndentationError: expected an indented block after function definition on line 1 (2824542984.py, line 2)

In [ ]:
d = input()

 4 <!--[if IE 9]>IE9-specific content <![endif]--> <div> Welcome to HackerRank</div> <!--[if IE 9]>IE9-specific content<![endif]-->

In [ ]:
d.split('\n')

['4 <!--[if IE 9]>IE9-specific content <![endif]--> <div> Welcome to HackerRank</div> <!--[if IE 9]>IE9-specific content<![endif]-->']

In [ ]:
a= [1,2,3,4,5]
for n in a:
    if 1 <= n <= 5:
    # n is even and in the range of 2 to 5
        print(n)

1
2
3
4
5

In [ ]:
# Define a global variable
counter = 0

def increment_global():
    global counter
    counter += 1
    print(f"Inside function, counter is {counter}")

# Call the function
increment_global()  # Inside function, counter is 1

# Access the global variable
print(f"Outside function, counter is {counter}")  # Outside function, counter is 1

Inside function, counter is 1
Outside function, counter is 1

In [ ]:
# v=[1,2,3]
# v1=[x+1 for x in v]
# v1
v=[1,2,3]
v1=[x+1 for x in v]
v1

[2, 3, 4]

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage
print(factorial(5))  # Output: 120

120

In [ ]:
class book_shop:

    # constructor
    def __init__(self, title,req):
        self.title = title
        self.req= req

    # Sample method
    def book(self):
        print('The tile of the book is', self.title)
        print('The tile of the book is', self.req)


b = book_shop("ee","eee1")
b.book()
# The tile of the book is Sandman

The tile of the book is ee
The tile of the book is eee1